body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: black;
}

.header {
    background: white;
    color: black;
    padding: 20px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav1, .nav2 {
    display: flex;
}

.nav1 a, .nav2 a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    transition: background 0.3s;
    text-transform: uppercase;
}

.nav1 a:hover, .nav2 a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.logo {
    text-align: center;
}

.logo img {
    width: 250px;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


/* Стили для карточек товаров */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.product-card {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
}

.price {
    font-size: 1.2em;
    color: #4CAF50;
}

.footer, .copyright {
    text-align: center;
    padding: 10px 0;
    background: transparent;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
