body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: black;
}

.header {
    width: 100%;
    background: white;
    color: black;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav1 a, .nav2 a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    text-transform: uppercase;
}

.nav1 a:hover, .nav2 a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.2);
}

.logo {
    text-align: center;
}

.logo img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Стили для карточек товаров */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Стиль для одной карточки товара */
.product-card {
    background: #1a1a1a; 
    padding: 15px;
    border-radius: 8px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s; 
    display: flex; /* Используем flexbox для выравнивания содержимого */
    flex-direction: column; /* Упорядочиваем элементы в колонну */
    align-items: center; /* Центрируем элементы по горизонтали */
}

/* Эффект наведения на карточку */
.product-card:hover {
    transform: translateY(-5px); 
}

.product-card img {
    max-width: 100%; /* Максимальная ширина изображения относительно карточки */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 8px; /* Закругление углов изображения */
    margin-bottom: 10px; /* Отступ снизу для расстояния от текста */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Стили для цены товара */
.price {
    font-size: 1.5em; 
    color: white; 
    margin: 10px 0; 
}

/* Стили для описания товара */
.description {
    font-size: 0.9em; 
    color: #ccc; 
    margin-top: 5px; 
}

.footer, p, h3, .copyright {
    text-align: center;
    padding: 10px 0;
    background: transparent;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.discount, p {
    color: #1a1a1a;
}

.span {
    
}